<IfModule mod_rewrite>
# On suit les liens symboliques
Options +FollowSymlinks
# Activation du mod rewrite d'Apache
RewriteEngine On
</IfModule>
# Contient le protocole de la requête Si c'est en http alors
RewriteCond %{REQUEST_SCHEME} =http
# Alors on redirige vers l'https
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
ErrorDocument 404 /404.php