@page{
    margin: 1%;
}

.navbar, .suivi, header, footer, .pagination > li, #cookieChoiceInfo  {
    display: none;
}
.canvasjs-chart-container, #chartResult{
    position: absolute;
    padding-right: 75%;
    cursor: none;
    width: 500pt;
    height: 2pt;
}
body {
    background-color: white;
    background-size: 100pt;
}