html, body {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

.navbar{
  background-color: #D90404;
}

.navbar-default .navbar-nav > li > a{
  color: white;
  font-size: 20px;
}

header{
  background-color: #FFFFCC;
}

footer{
  background-color: #D90404;
  color: white;
  margin-top: auto;
  padding-top: 5px;
}

footer a{
  color: white;
}

.link a{
  color: blue;
}

body{
  margin: 0;
}

.subhead{
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  color: red;
  font-style: italic;
  font-size: 20px;
}

p{
  margin-bottom: 10px;
  font-size: 17px;
}

.subtitle{
  font-style: italic;
  font-size: 20px;
  text-decoration: underline;
}

.form-group{
  margin-top: 20px;
}

.inscription{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid;
}

.connexion{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid;
}

.contact{
    border: 1px solid;
}

.button{
  margin-bottom: 20px;
}

.explication p{
  font-style: italic;
  font-size: 15px;
}

.role{
  margin-bottom: 15px;
}

textarea{
  margin-bottom: 20px;
}
