.navbar{
  background-color: red;
}

.navbar-default .navbar-nav > li > a{
  color: white;
}

header{
  margin-top: 0;
  background-color: #FFFFCC
}

footer{
  background-color: red;
}

body{
  margin: 0;
}
