html, body {
  height: 100%;
  background-image: url('../img/fond.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  color: #63A5D4;
}

.navbar {
  background-color: #D90404;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 1.4em;
}

header {
  background-image: linear-gradient(#FFFFCC, #D90404 150px);
}

.connexionheader {
    color: #337ab7;
}    

.connexionheader:hover {
    color: #23527c;
    text-decoration: underline;
    cursor: pointer;
} 

footer {
  background-color: #D90404;
  color: white;
  margin-top: auto;
  padding-top: 5px;
}

footer a {
  color: white;
}

.link a {
  color: blue;
}

body {
  margin: 0;
}

.view {
    background-color: white;
    opacity: 0.9;
}   

.subhead {
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
  color: red;
  font-style: italic;
  font-size: 1em;
}

p {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.errormessage {
    color: red;
}

.successmessage {
    color: green;

}
.error404 {
    color: red;
}

.subtitle {
  font-style: italic;
  font-size: 1em;
  text-decoration: underline;
}

.form-group {
  margin-top: 20px;
}

.inscription {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid;
}

.connexion {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid;
}

.button {
  margin-bottom: 20px;
}

.explication p {
  font-style: italic;
  font-size: 1em;
}

.role {
  margin-bottom: 15px;
}

textarea {
  margin-bottom: 20px;
}

.form-inline {
  padding-top: 10px;
  padding-bottom: 5px;
}

.up {
  padding-left: 15px;
}

.phoneup {
  padding-left: 20px;
}

.formular, .modificate {
  margin-top: 10px;
}

.timeverif {
  padding-left: 55px;
}

.clock {
  padding-right: 235px;
}

#chartResult {
  height: 370px;
  width: 100%;
}

#graycolor {
    background-color: gray;
    display: inline-block;
}

#greencolor {
    background-color: green;
    display: inline-block;
}

#infoFollow {
    color: red;
    background-color: white;
    display: inline-block;   
}

#viewcalendar,#btnaddappointment,#btnaddappointment:hover, #viewcalendar:hover{
    color: white;
    text-decoration: none;
    margin-bottom: 1em;
}

.nav-tabs-dropdown,.btn-primary[disabled]:hover {
    border: 1px solid #e3e3e3;
    background-color: #F5F5F5;
    color: red;    
}    

li > a {
    color:red;
}       

li > a:hover {
    color:black;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: red;
    color: white;
}

.tdcalendar, .thcalendar {
  width:80px;
  height:7em;  
}

.thcalendar {
    text-align: center;
    font-size: 1em;
}    

.calendarchoice {
    padding-bottom: 1em;
}    
table th[class*="col-xs"] {
    display: none;
}   
table th[class*="col-lg"] {
        display: table-cell;
}
.appointmentup {
   background-color: gray;
}
.appointment {
   background-color: green;
}

.fa-book, .fa-check-square-o{
    padding-left: 1em;
    color: white;
    }
.hourappointment {
    margin-left: 3.7em;
 } 
 .nameappointment {
    margin-left: 4.3em;
 } 
 .modificateform {
  color: black;
  font-weight: lighter;
  }  
 #pageactive {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    background-color: red;
  } 
.pagination > li > a{
    font-weight: bold;
    font-size: 1.2em;
    color: red;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #63A5D4;
}

@media screen and (max-width: 1280px) {
    table th[class*="col-lg"] {
        display: none;
    }
    table th[class*="col-xs"] {
        display: table-cell;
    }  
}